/vendor/
/node_modules/
storage/*.key
storage/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/pail
/bootstrap/cache/*.php
.env
.env.*
!.env.example
*.log
.phpunit.result.cache
.phpactor.json
/.phpunit.cache
.idea/
.vscode/
.fleet/
.zed/
.DS_Store
Thumbs.db
.rnd
/.nova
auth.json
/public/b
